.newCard {
  list-style: none;
  font-size: 1.3rem;
  margin-bottom: 30px;
}

.newCard a {
  display: flex;
  gap: 10px;
}

.newCard h3 {
  margin-top: 0;
  margin-bottom: 0;
  color: #555;
  font-size: 1.7rem;
  font-weight: 500;
}

.newCard:hover {
  opacity: 0.8;
}

.newImage {
  border-radius: 8px;
  background-color: rgb(90, 90, 90);
}

.date {
  display: flex;
  align-items: center;
  font-size: 10pt;
  font-weight: 500;
  margin-top: 10px;
}

.date svg {
  color: #777;
}

.date span {
  margin-left: 5px;
}

@media (max-width: 560px) {
  .newImage {
    width: 90%;
    height: auto;
  }
}
